@tailwind preflight;

* {
  outline: transparent;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.02) 0 0 1px;
  direction: ltr;
}
body {
 @apply font-sans w-full h-full bg-grey-lightest .text-grey-darker;
}

@tailwind utilities;

@tailwind components;